
*{ 
    box-sizing: border-box;
}


/* Default Styles */

ul, li {
    list-style-type: none;
}

li {
    margin-right: 0.625rem;
}

a { 
    color: #484848;
    text-decoration: none;
}

h1,
h2 {
    color: #404040;
}

html {
    font-size: 16px;
}

/* Header */

header {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 1.25rem 2.5rem;
    height: 4rem;
}

.menu span {
  font-size: 1.375rem;
  margin-right: 1.5rem;
  margin: 1rem;
}

#logo {
    margin: 0;
    display: flex;
    align-content: flex-start;
    margin-left: 1.5rem;
    height: 2rem;
}

header h1 {
    color: #C0C0C0;
    font-weight: 200;
}

#logo b {
    color: 	#383838;
}

#logo img {
    width: 3.125rem;
    height: 3.215rem;
}

/* Banner */
.banner {
    display: flex;
    background-color: silver;
    
}

.banner img {
    display: block;
    margin: 2rem 1.5rem 2rem 1.5rem;
}

.righttext {
    display: inline-block;
    margin: 12.5rem 3.125rem;
    align-content: center;

}

.righttext h1 {
    font-size: 5rem;
}

.righttext h2 {
    font-size: 2.063rem;
}

.banner .righttext {
    box-sizing: border-box;
}

.righttext button {
    background-color: #404040;
    display: inline-block;
    border: none;
    padding: 0.5rem 12.5rem 0.5rem 12.5rem;
    margin: 0;
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    text-align: center;

}

/* Section 2 */

#section2 {
    display: flex;
}

.rowitem {
    display: flex;
    flex-flow: column;
    border: black;
    border-style: solid;
}